# Qt-специфичные файлы
build-*/
*.pro.user
*.autosave

# Сборка
build/
*.vcxproj*
*.sln
*.qmake.stash
*.o
*.a
*.qrc

# Автогенерируемые файлы
ui_*.h
moc_*.cpp
qrc_*.cpp

# Системные
.DS_Store
Thumbs.db
x64/
.vs/
x64/
PhoneBookWithQT.sln
